In [9]:
from src.files import read_config
from src.files import read_schema
##from src.database import create_tables
import pandas as pd
import numpy as np

In [10]:
raw_path = "archives/data/raw.npz"
data = np.load(raw_path,allow_pickle=True)
arrays = list(data.keys())
for name in arrays:
    array = data[name]

In [11]:
df = pd.DataFrame(array)

In [12]:

data_filtrado = df[(df.iloc[:, 10] == 'GASOLINA') &
                   pd.to_numeric(df.iloc[:, 12].replace(',', '.', regex=True), errors='coerce').ge(3) &
                   pd.to_numeric(df.iloc[:, 12].replace(',', '.', regex=True), errors='coerce').le(6) & 
                   (df.iloc[:, 0].isin(["N", "S"]))
                   ]

In [23]:
preco = pd.to_numeric(df.iloc[:, 12].replace(',', '.', regex=True), errors='coerce')

media = preco.mean()
moda = preco.mode()[0] ## "[0]" Retorna o primeiro valor da matriz
mediana = preco.median()


df_statistis = pd.DataFrame({
                'media': [media],
                'mediana': [mediana],
                'moda': [moda]
                })

df_statistis

      media  mediana  moda
0  5.224494      5.6  5.99

In [ ]:

columns = [12]

data_filtrado[columns]

         12
75     5,52
76     5,57
77     5,52
78     5,52
79     5,52
...     ...
49468  5,56
49476  5,12
49483  5,59
49486  5,83
49493  5,79

[3267 rows x 1 columns]

In [ ]:
## Leitura dos arquivos CSV
localization = pd.read_csv("./archives/data/localizations.csv")
prices = pd.read_csv("./archives/data/prices.csv")
products = pd.read_csv("./archives/data/products.csv")

In [ ]:
## Criação de dataframes a partir dos CSVs
dflocals = pd.DataFrame(localization)
dfprices = pd.DataFrame(prices)
dfproducts = pd.DataFrame(products)

In [ ]:
dflocals2 = dflocals.copy()
dfprices2 = dfprices.copy()
dfproducts2 = dfproducts.copy()

In [ ]:
mapping = dfproducts2.set_index('id')['produto'].to_dict()
dfprices2['produto'] = dfprices2['produto'].map(mapping)

pricing_information = dfprices2.merge(localization, on='id')

pricing_information

,posto,preco,data_registro,produto,localizacao,id,municipio,regiao,estado
0,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,4.88,19/03/2024,GASOLINA,407,0,ABAETETUBA,N,PA
1,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,2.99,19/03/2024,ETANOL,407,1,ACAILANDIA,NE,MA
2,CARDINAL E OLIVEIRA LTDA,7.59,20/03/2024,GASOLINA,128,2,ADAMANTINA,SE,SP
3,CARDINAL E OLIVEIRA LTDA,7.59,20/03/2024,GASOLINA ADITIVADA,128,3,AGUAS LINDAS DE GOIAS,CO,GO
4,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,7.59,19/03/2024,GASOLINA,128,4,ALAGOINHAS,NE,BA
...,...,...,...,...,...,...,...,...,...
454,AUTO SERVICO GASVIX LTDA,4.29,19/03/2024,ETANOL,399,454,VOLTA REDONDA,SE,RJ
455,GEGEL AUTO POSTO LTDA,5.69,18/03/2024,GASOLINA,399,455,VOTORANTIM,SE,SP
456,AUTO POSTO WAVE LTDA,5.69,18/03/2024,GASOLINA,399,456,VOTUPORANGA,SE,SP
457,AUTO POSTO WAVE LTDA,3.79,18/03/2024,ETANOL,399,457,XANXERE,S,SC
458,BRENT PETROLEO LTDA,5.37,19/03/2024,GASOLINA,399,458,XINGUARA,N,PA